@font-face {
    font-family: "Open Sans";
    font-style: normal;
    font-weight: 400;
    src: url("/fonts/OpenSans-Regular.ttf") format("truetype");
}

@font-face {
    font-family: "Open Sans";
    font-style: normal;
    font-weight: 600;
    src: url("/fonts/OpenSans-SemiBold.ttf") format("truetype");
}

@font-face {
    font-family: "Open Sans";
    font-style: normal;
    font-weight: 700;
    src: url("/fonts/OpenSans-Bold.ttf") format("truetype");
}

@font-face {
    font-family: "Azeret Mono";
    font-style: normal;
    font-weight: 400;
    src: url("/fonts/AzeretMono-Regular.ttf") format("truetype");
}
