html, body {	
    background-color: #F0F3F8;
    margin: 0px;
    padding: 0px;
    height: 100%;
}

body, td, th {
    font-family: "Roboto";
    font-size: 16px;
    color: #212c3c;
    line-height: 1.8;
}

a {
    color: #04ABC8;
    text-decoration: none;
}

a:hover {
    color: #038096;
    text-decoration: none;
}

h1 {
    color: #233347;
    font-size: 30px;
}

h2, h3 {
    color: #04ABC8;
}

.container {
    display: flex;
    min-height: 100%;
}

.container nav {
    flex: 0 0 250px;
    background-color: #233347;
    padding: 30px 20px 30px 20px;
    box-shadow: 1px 0px 5px #687483;
}

.container nav img {
    display: block;
    margin-left: 10px;
    max-width: 100px;
    margin-bottom: 30px;
}

.container nav .toc {
    padding-top: 20px;
}

.container nav .toc a, .container nav .toc .category {
    display: block;
    color: #ffffff;
    border-bottom: 1px solid #687483;
    padding: 4px 8px 4px 8px;
}

.container nav .toc a.category, .container nav .toc .category {
    color: #DFC101;
}

.container nav .toc a.page {
    padding-left: 30px;
    font-size: 12px;
}

.container nav .toc a:hover {
    background-color: rgba(255, 255, 255, 0.2);
}

.container nav .sigridLink {
    display: block;
    color: #DFC101;
    border: 1px solid #DFC101;
    padding: 4px;
    margin-top: 36px;
    text-align: center;
}

.container nav .footnote {
    margin-top: 36px;
}

.container nav .footnote a {
    display: block;
    margin-bottom: 4px;
    font-size: 10px;
    color: #ffffff;
}

.container nav .footnote img {
    display: block;
    width: 80px;
    margin-bottom: 16px;
    margin-left: 0px;
}

.container article {
    flex: 1 1 auto;
    padding: 110px 80px 30px 80px;
}

.container article img {
    border: 1px solid #687483;
    display: block;
    margin-left: auto;
    margin-right: auto;
    box-shadow: 1px 1px 5px #687483;
}

pre {
    display: inline-block;
    max-width: 800px;
    overflow-x: scroll;
    line-height: 1.4;
    font-size: 14px;
    background-color: #687483;
    color: #ffffff;
    padding: 16px;
    border: 1px solid #233347;
    box-shadow: 1px 1px 5px #687483;
    font-family: "Menlo", monospace;
}

table {
    border-collapse: collapse;
}

tr {
    border-bottom: 1px dotted #687483;
    background-color: #ffffff;
}

thead tr {
    background-color: #233347;
}

th {
    color: #ffffff;
    text-align: left;
}

td, th {
    min-width: 60px;
    padding-left: 8px;
    padding-right: 8px;
    font-size: 14px;
}
