:root {
    --sig-blue: #1B64FF;
    --sig-dark-blue: #151632;
    --sig-yellow: #F8C716;
    --sig-orange: #D37B3B;
    --sig-light: #f4f4f4;
    --sig-red: #D44E31;
    --sig-pink: #E2A3F2;
    --sig-green: #67E77F;
    --sig-light-gray: #E9EAEA;
    --sig-medium-gray: #9e9e9e;
    --sig-dark-gray: #808087;
    --sig-highlight-gray: #dbdbdb;
    --sig-text-black: #151632;
    --sig-text-gray: #555555;
    --sig-paragraph-gray: #555555;
    --sig-white: #ffffff;
    --sig-border-gray: #dfdfdf;
}

html {
    scroll-padding-top: 70px;
}

html, body {
    background-color: #ffffff;
    margin: 0px;
    padding: 0px;
}

body, td, th, input[type=text] {
    font-family: "Noir Pro";
    font-size: 16px;
    font-weight: 300;
    line-height: 1.6;
    color: var(--sig-paragraph-gray);
}

a {
    color: var(--sig-blue);
    text-decoration: none;
}

a:hover {
    color: var(--sig-dark-blue);
    text-decoration: none;
}

h1 {
    font-family: "Azeret Mono";
    color: var(--sig-text-black);
    font-size: 32px;
    font-weight: 400;
    letter-spacing: -1.2px;
    line-height: 1.1;
}

h2 {
    font-size: 24px;
    color: var(--sig-text-black);
    font-weight: 400;
    margin: 40px 0px 0px 0px;
}

h3 {
    font-size: 20px;
    color: var(--sig-text-black);
    font-weight: 400;
    margin: 40px 0px 0px 0px;
}

h4 {
    font-size: 18px;
    color: var(--sig-text-black);
    font-weight: 400;
    margin: 30px 0px 0px 0px;
}

strong {
    font-weight: 400;
}

ul {
    list-style: none;
    padding-left: 32px;
}

ul li::before {
    content: '\25A0';
    color: var(--sig-yellow);
    padding-right: 8px;
    margin-left: -1em;
    position: absolute;
}

ol li::before {
    content: '';
    color: var(--sig-yellow);
    padding-right: 16px;
    margin-left: -1em;
    position: absolute;
}

.topBar {
    background-color: var(--sig-blue);
    color: var(--sig-white);
    height: 48px;
    display: flex;
    align-items: center;
    font-size: 14px;
    padding-left: 24px;
    padding-right: 24px;
    position: sticky;
    z-index: 2;
    top: 0;
    overflow-x: auto;
    overflow-y: hidden;
}

.topBar .sigridLogo, .topBar .sigridLogo img {
    height: 24px;
}

.topBar .separator {
    width: 1px;
    height: 16px;
    background-color: var(--sig-white);
    margin-left: 12px;
    margin-right: 12px;
}

.topBar .links {
    margin-left: auto;
    text-wrap: nowrap;
}

.topBar .links a {
    border: 1px solid transparent;
    color: white;
    border-radius: 8px;
    padding: 8px 16px 8px 16px;
    margin-left: 16px;
}

.topBar .links a:hover {
    border: 1px solid var(--sig-white);
}

.topBar .links a:last-child {
    background-color: var(--sig-yellow);
    border: 1px solid var(--sig-yellow);
    color: var(--sig-dark-blue);
}

hr {
    width: 650px;
    color: #B7B7B7;
    margin-top: 40px;
    margin-bottom: 40px;
}

blockquote {
    border-left: 2px solid #212C3C;
    padding-left: 25px;
    margin-left: 2px;
}

aside, .attention, .warning, .faq {
    max-width: 750px;
    padding: 12px 20px 12px 50px;
    margin: 16px auto 16px auto;
    display: block;
    border-radius: 8px;
}

aside, .attention {
    background-image: url("/images/icon-attention.svg");
    background-color: #eff5fa;
    background-repeat: no-repeat;
    background-position: 12px 12px;
    background-size: 24px;
    border: 1px solid #b2dafb;
    color: #1296f3;
}

aside::before, .attention::before {
    content: "Attention";
    display: block;
    font-weight: 400;
    color: #1296f3;
}

.faq {
    background-image: url("/images/icon-faq.svg");
    background-color: #f6e3fb;
    background-repeat: no-repeat;
    background-position: 12px 14px;
    background-size: 24px;
    border: 1px solid #e7adff;
    color: #b501e4;
}

.faq::before {
    content: "FAQ";
    display: block;
    font-weight: 400;
    color: #b501e4;
}

.warning {
    background-image: url("/images/icon-warning.svg");
    background-color: #faefef;
    background-repeat: no-repeat;
    background-position: 12px 13px;
    background-size: 24px;
    border: 1px solid #fdd3d3;
    color: #df4949;
}

.warning::before {
    content: "Warning";
    display: block;
    font-weight: 400;
    color: #df4949;
}

summary {
    cursor: pointer;
}

.container {
    display: flex;
    min-height: 100%;
}

.container nav {
    flex: 0 0 330px;
    background-color: var(--sig-light);
    border-right: 1px solid var(--sig-medium-gray);
    max-height: calc(100vh - 48px);
    overflow-y: auto;
    position: sticky;
    top: 48px;
}

.container nav img.logo {
    display: block;
    margin-left: 24px;
    max-width: 80px;
    margin-bottom: 40px;
}

.container nav .toc {
    padding-right: 16px;
}

.container nav .toc a, .container nav .toc .category {
    display: block;
    color: #ffffff;
    padding: 6px 8px 4px 8px;
}

.container nav .toc .category {
    color: var(--sig-dark-blue);
    cursor: pointer;
    padding-left: 24px;
}

.container nav .toc .category:not(.currentCategoryHeader) {
    background-image: url("/images/arrow-right.svg");
    background-repeat: no-repeat;
    background-position: right;
    background-size: 12px;
}

.container nav .toc .currentCategoryHeader {
    background-image: url("/images/arrow-down.svg");
    background-repeat: no-repeat;
    background-position: right;
    background-size: 12px;
}

.container nav .pages {
    display: none;
}

.container nav .toc a.page {
    padding-left: 40px;
    font-size: 14px;
    color: var(--sig-text-gray);
    border-left: 4px solid transparent;
}

.container nav .toc a.page em {
    font-style: normal;
    text-transform: uppercase;
    font-size: 10px;
    background-color: var(--sig-orange);
    margin-left: 12px;
    padding: 4px 8px 1px 8px;
    border-radius: 8px;
    color: var(--sig-white);
}

.container nav .toc a.subPage {
    padding-left: 56px !important;
    font-size: 12px !important;
}

.container nav .currentCategory {
    display: block;
}

.container nav .toc a:hover, .container nav .toc .currentPage, .container nav .toc .category:hover {
    background-color: var(--sig-highlight-gray);
    margin-right: -16px;
    background-image: none;
}

.toc .currentPage {
    border-left: 4px solid var(--sig-blue) !important;
}

article {
    flex: 1 1 auto;
    padding: 50px 50px 30px 50px;
    margin-left: auto;
    margin-right: auto;
    overflow-x: scroll;
}

article img, article iframe {
    border: 1px solid var(--sig-border-gray);
    display: block;
    margin-left: auto;
    margin-right: auto;
    max-width: 100%;
}

article img.inline {
    display: inline-block;
    width: 25px;
}

article .sectionLink {
    cursor: pointer;
    display: inline-block;
    margin-left: 8px;
    width: 16px;
    height: 16px;
    background-image: url("/images/link.svg");
    background-size: 16px 16px;
    vertical-align: middle;
}

pre {
    display: block;
    max-width: 800px;
    overflow-x: scroll;
    line-height: 1.5;
    font-size: 12px;
    background-color: var(--sig-light-gray);
    color: var(--sig-dark-blue);
    padding: 16px;
    border-radius: 8px;
    font-family: "Menlo", monospace;
    margin-left: auto;
    margin-right: auto;
}

p > code, li > code {
    background-color: var(--sig-light-gray);
    font-family: "Menlo", monospace;
    font-size: 12px;
    padding: 4px;
    border-radius: 4px;
}

table {
    border-collapse: collapse;
}

tr {
    border-bottom: 1px dotted #687483;
    background-color: #ffffff;
}

thead tr {
    background-color: #233347;
}

th {
    color: #ffffff;
    text-align: left;
    font-weight: 400;
}

td, th {
    min-width: 60px;
    padding: 4px 8px 4px 8px;
    font-size: 14px;
}

sig-toc {
    flex: 0 0 200px;
    position: sticky;
    right: 0px;
    top: 135px;
    max-height: calc(100vh - 135px);
    overflow-y: auto;
    display: block;
    padding: 0px 16px 0px 16px;
    font-size: 12px;
}

sig-toc ul {
    margin: 8px 0px 0px 0px;
    padding-left: 0px;
    list-style-type: none;
}

sig-toc li {
    margin-bottom: 8px;
}

sig-toc li::before {
    content: '';
}

sig-toc h4 {
    margin-top: 0px;
    color: var(--sig-dark-blue);
}

sig-toc a {
    color: var(--sig-text-gray);
}

sig-toc a:hover {
    color: var(--sig-blue);
}

sig-toc .h3 {
    margin-left: 10px;
}

sig-toc .h4 {
    margin-left: 20px;
}

.searchForm {
    background-color: var(--sig-white);
    padding: 32px 16px 24px 16px;
}

.searchForm img {
    position: absolute;
    margin: 3px 0px 0px 28px;
}

.searchForm input[type=text] {
    width: 180px;
    border-radius: 8px;
    border: 1px solid var(--sig-medium-gray);
    margin-left: 24px;
    padding: 6px 4px 2px 32px;
    color: var(--sig-medium-gray);
}

.footer {
    border-top: 1px solid var(--sig-medium-gray);
    color: var(--sig-medium-gray);
    padding-top: 24px;
    margin-top: 32px;
}

.footer a {
    color: var(--sig-medium-gray);
    display: inline-block;
    margin-right: 24px;
}

.hamburger {
    display: none;
}

.awesomplete ul {
    position: absolute;
    z-index: 2;
    list-style-type: none;
    padding-left: 24px;
    margin-top: 4px;
}

.awesomplete li {
    background-color: #FFFFFF;
    padding: 4px 8px 4px 8px;
    border-top: 1px solid #E0E3E7;
    font-size: 14px;
    width: 500px;
    color: var(--sig-blue);
    cursor: pointer;
}

.awesomplete li::before {
    content: '';
}

.awesomplete li:hover {
    background-color: var(--sig-highlight-gray);
}

.awesomplete .visually-hidden {
    display: none;
}

.technologySupportCategories {
    text-align: right;
    margin-top: 24px;
}

.technologySupportCategories a {
    margin-left: 12px;
    margin-right: 12px;
    cursor: pointer;
}

.technologySupportCategories .active {
    color: var(--sig-blue);
    font-weight: 600;
}

.technologySupportTable .unavailable {
    color: var(--sig-light-gray);
}
