# We can't use PIP dependencies for the production code due to portability with
# certain user environments, but it's fine if we use dependencies in tests.

beautifulsoup4==4.13.4
importchecker==3.0
jsonschema==4.24.0
pyyaml==6.0.2
